
  <head>
    <title><%=typeof title == 'undefined' ? 'TDB' : title%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/bootflat/css/bootflat.min.css">
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/local.css">
    <link rel="stylesheet" href="/css/Style_v3.css">
    <link rel="stylesheet" href="/morris/morris.css">
    <link rel="stylesheet" href="/css/bootstrap-material-datetimepicker.css">
    <style>
      #board tr th{
        color: green;

      }

    </style>
    <!--STYLES END-->
</head>
<body>
<% if(req.session.droit==1){

%>
<% include ../../../includes/entete.ejs %>

<% }else{

%>
<% include ../../../includes/enteteOperateur.ejs %>

<% }%>

<h1>Fiche de suivi de conformité</h1>

<div id="page-wrapper">
    <div class="row">
      <div class="col-md-12">
        <div class=" row ">
            <div  class="">
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h3 class="panel-title"> <i class="fa fa-bar-chart-o"></i> </h3>
                  <div class="row">
                    <div class="form-group">
                        <div class="col-xs-2 col-md-2 col-lg-2">
                          <select class="form-control" tabindex="-1" id="equipeDashAdmin" placeholder = "Equipe" name="equipe" >
                            <option value="1">EQUIPE</option>
                          </select>
                        </div>
                        <div class="col-xs-2 col-md-2 col-lg-2">
                          <input class="form-control" tabindex="-1" id="datetim" />
                        </div>
                      <div class="col-xs-2 col-md-2 col-lg-2">
                          <input type="text" class="form-control" tabindex="-1" id="id_pers" placeholder="Matricule"/>
                        </div>
                        <div class="col-xs-2 col-md-2 col-lg-2">
                          <button type="submit" style="margin-top:-1px" class="btn btn-info" onclick="go();">ok</button>
                        </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- <div class="clearfix"></div>
                <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                <span class="sr-only">Loading...</span>
              </div> -->

              <div id="div" class="col-md-12 col-sm-12 col-xs-12"></div>
              <table border="2" id="board"> 
                <tr> 
                    <td colspan="2"></td>
                    <th class="green" colspan="2">TECHNICITE</th>
                    <th class="green" colspan="2">IMPLICATION</th>
                    <th class="green" colspan="3">QUALITE</th>
                    <td rowspan="2" class="vert">Total note/12</td> 
                    <td rowspan="2">Nombre REJET</td>
                    <td rowspan="2" class="vert">seuil</td>                    
                </tr>
                <tr>
                    <td class="vert">N°</td>
                    <td class="vert">Ticket</td>
                    <td class="cyan">Technicité</td>
                    <td class="cyan">Recherche personnelle</td>
                    <td class="cyan">Inactivité sur les tickets</td>
                    <td class="cyan">Auto affectation</td>
                    <td class="cyan">Description et compréhension du ticket</td>
                    <td class="cyan">Pertinence des Informations</td>
                    <td class="cyan">Prise en compte des consignes et application des procédures</td>
                    
                </tr>
                <tr>
                  <td class="green">1</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td class="green">2</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td class="green">3</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td class="green">4</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td class="green">5</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td class="green">6</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td class="green">7</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td class="green">8</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td class="green">9</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td class="green">10</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td class="green">11</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td class="green">12</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td class="green">13</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td class="green">14</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td class="green">15</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td class="green">16</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td class="green">17</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td class="green">18</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td class="green">19</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td class="green">20</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                
               </table>

              
               

    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/jquery-1.10.2.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/material/chart/highcharts.js"></script>
    <script src="/material/chart/exporting.js"></script>
    <script src="/js/dossierEtapeApp.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/material-modal.min.js"></script>
    <script src="/js/pikaday.js"></script>
</body>

