
  <head>
    <title><%=typeof title == 'undefined' ? 'TDB' : title%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/bootflat/css/bootflat.min.css">
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/local.css">
    <link rel="stylesheet" href="/css/Style_v3.css">
    <link rel="stylesheet" href="/morris/morris.css">
    <link rel="stylesheet" href="/css/bootstrap-material-datetimepicker.css">
    <!--STYLES END-->
    <style>
        
    </style>
</head>
<body>
<% if(req.session.droit==1){

%>
<% include ../../../includes/entete.ejs %>

<% }else{

%>
<% include ../../../includes/enteteOperateur.ejs %>

<% }%>
<h1>Fiche de suivi en détail</h1>
<div id="page-wrapper">
    <div class="row">
      <div class="col-md-12">
        <div class=" row ">
            <div  class="">
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h3 class="panel-title"> <i class="fa fa-bar-chart-o"></i> </h3>
                  <div class="row">
                    <div class="form-group">
                        <div class="col-xs-2 col-md-2 col-lg-2">
                          <select class="form-control" tabindex="-1" id="equipeDashAdmin" placeholder = "Equipe" name="equipe" >
                            <option value="1">EQUIPE</option>
                          </select>
                        </div>
                        <div class="col-xs-2 col-md-2 col-lg-2">
                          <input class="form-control" tabindex="-1" id="datetim" />
                        </div>
                        <div class="col-xs-2 col-md-2 col-lg-2">
                        <% 
                        if(manager == true){
                        %>
                          <input type="text" class="form-control" tabindex="-1" id="id_pers" placeholder="Matricule"/>
                        <%
                        }
                        else{
                        %>
                          <input type="text" class="form-control" tabindex="-1" id="id_pers" placeholder="Matricule" value="<%= id %>" disabled/>
                        <%
                        }
                        %>
                        </div>
                        <div class="col-xs-2 col-md-2 col-lg-2">
                            <button type="submit" style="margin-top:-1px" class="btn btn-info" onclick="go();">ok</button>
                        </div>
                   
            </div>
        </div>
        </div>
    </div>
    </div>

    <!-- <div class="clearfix"></div>
    <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
    <span class="sr-only">Loading...</span>
    </div>
    <div id="div" class="col-md-12 col-sm-12 col-xs-12"> -->

                <!-- tableau -->

     <table border="1">
            <td  id="titrecol" class="titre" rowspan="2">Ticket</td>
            <td class="titre">1</td>
            <td class="titre">2</td>
            <td class="titre">3</td>
            <td class="titre">4</td>
            <td class="titre">5</td>
            <td class="titre">6</td>
            <td class="titre">7</td>
            <td class="titre">8</td>
            <td class="titre">9</td>
            <td class="titre">10</td>
            <td class="titre">11</td>
            <td class="titre">12</td>
            <td class="titre">13</td>
            <td class="titre">14</td>
            <td class="titre">15</td>
            <td class="titre">16</td>
            <td class="titre">17</td>
            <td class="titre">18</td>
            <td class="titre">19</td>
            <td class="titre">20</td>
            </tr>
            <!-- ligne vide -->
            <tr>
           
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
            </tr>
            <tr>
                <!-- ligne vide -->
            <td id="titrecol"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>1</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            </tr>
            <tr>
                <!-- Qualité- Description et comprehension du ticket -->
            <td id="titrecol" class="qualite">Qualité- Description et comprehension du ticket</td>
            <td><select name="" id="" ><option value="">0</option><option value="">1</option></select></td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
            </tr> 
            <tr>
                <!-- Qualité- Description et comprehension du ticket -->
            <td id="titrecol">Sollicitation du client bien décrite</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>1</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            </tr> 
            <tr>
                <!-- Questionnement complet/récup infos complementaire -->
            <td id="titrecol">Questionnement complet/récup infos complementaire</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>1</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            </tr> 
            <tr>
                <!-- Hors sujet(Sollicitation du client par mail/front office -->
            <td id="titrecol">Hors sujet(Sollicitation du client par mail/front office)</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>1</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            </tr>   
            <tr>
                <!-- Traitement complet du ticket -->
            <td id="titrecol">Traitement complet du ticket</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>1</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            </tr>
            <tr>
                <!-- Traitement complet du ticket -->
            <td id="titrecol"  class="note">Note</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>1</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            </tr>  
            <tr>
                <!-- ligne vide orange -->
            <td id="titrecol" class="orange"></td>
            <td class="orange"></td>
            <td class="orange"></td>
            <td class="orange"></td>
            <td class="orange"></td>
            <td class="orange"></td>
            <td class="orange"></td>
            <td class="orange"></td>
            <td class="orange"></td>
            <td class="orange"></td>
            <td class="orange"></td>
            <td class="orange"></td>
            <td class="orange"></td>
            <td class="orange"></td>
            <td class="orange">1</td>
            <td class="orange"></td>
            <td class="orange"></td>
            <td class="orange"></td>
            <td class="orange"></td>
            <td class="orange"></td>
            <td class="orange"></td>
            </tr>
            <tr>
                    <!-- Pertinence des informations -->
                <td id="titrecol" class="qualite">Pertinence des informations</td>
                <td><select name="" id="" ><option value="">0</option><option value="">1</option></select></td>
                <td><input type="text" name="" id=""></td>
                <td><input type="text" name="" id=""></td>
                <td><input type="text" name="" id=""></td>
                <td><input type="text" name="" id=""></td>
                <td><input type="text" name="" id=""></td>
                <td><input type="text" name="" id=""></td>
                <td><input type="text" name="" id=""></td>
                <td><input type="text" name="" id=""></td>
                <td><input type="text" name="" id=""></td>
                <td><input type="text" name="" id=""></td>
                <td><input type="text" name="" id=""></td>
                <td><input type="text" name="" id=""></td>
                <td><input type="text" name="" id=""></td>
                <td><input type="text" name="" id=""></td>
                <td><input type="text" name="" id=""></td>
                <td><input type="text" name="" id=""></td>
                <td><input type="text" name="" id=""></td>
                <td><input type="text" name="" id=""></td>
                <td><input type="text" name="" id=""></td>
                </tr> 
                <tr>
                    <!-- Outil(s) utilisé(s) bien indiqué(s) -->
                <td id="titrecol">Outil(s) utilisé(s) bien indiqué(s)</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>1</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                </tr> 
                <tr>
                    <!-- Pertinence des informations(ATD,clôture,mail envoyé au client) -->
                <td id="titrecol">Pertinence des informations(ATD,clôture,mail envoyé au client)</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>1</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                </tr> 
                <tr>
                    <!-- Relecture -->
                <td id="titrecol">Relecture</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>1</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                </tr>   
                <tr>
                    <!-- Renseignement correct des informations en cas de recherche personnelle -->
                <td id="titrecol">Renseignement correct des informations en cas de recherche personnelle</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>1</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                </tr>
                <tr>
                    <!-- Note -->
                <td id="titrecol"  class="note">Note</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>1</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                </tr>  
                <tr>
                    <!-- ligne vide orange -->
                <td id="titrecol" class="orange"></td>
                <td class="orange"></td>
                <td class="orange"></td>
                <td class="orange"></td>
                <td class="orange"></td>
                <td class="orange"></td>
                <td class="orange"></td>
                <td class="orange"></td>
                <td class="orange"></td>
                <td class="orange"></td>
                <td class="orange"></td>
                <td class="orange"></td>
                <td class="orange"></td>
                <td class="orange"></td>
                <td class="orange">1</td>
                <td class="orange"></td>
                <td class="orange"></td>
                <td class="orange"></td>
                <td class="orange"></td>
                <td class="orange"></td>
                <td class="orange"></td>
                </tr>  
                <!-- TECHNICITE- Performance technique -->
                <td id="titrecol" class="qualite">TECHNICITE- Performance technique</td>
                <td><select name="" id="" ><option value="">0</option><option value="">1</option></select></td>
                <td><input type="text" name="" id=""></td>
                <td><input type="text" name="" id=""></td>
                <td><input type="text" name="" id=""></td>
                <td><input type="text" name="" id=""></td>
                <td><input type="text" name="" id=""></td>
                <td><input type="text" name="" id=""></td>
                <td><input type="text" name="" id=""></td>
                <td><input type="text" name="" id=""></td>
                <td><input type="text" name="" id=""></td>
                <td><input type="text" name="" id=""></td>
                <td><input type="text" name="" id=""></td>
                <td><input type="text" name="" id=""></td>
                <td><input type="text" name="" id=""></td>
                <td><input type="text" name="" id=""></td>
                <td><input type="text" name="" id=""></td>
                <td><input type="text" name="" id=""></td>
                <td><input type="text" name="" id=""></td>
                <td><input type="text" name="" id=""></td>
                <td><input type="text" name="" id=""></td>
                </tr> 
                <tr>
                    <!-- Analyse -->
                <td id="titrecol">Analyse</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>1</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                </tr> 
                <tr>
                    <!-- Interpretation des analyse/tests faits -->
                <td id="titrecol">Interpretation des analyse/tests faits</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>1</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                </tr> 
                <tr>
                    <!-- Recherche personnelle hors jarvis -->
                <td id="titrecol">Recherche personnelle hors jarvis</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>1</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                </tr>   
                <tr>
                    <!-- Note -->
                <td id="titrecol"  class="note">Note</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>1</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                </tr>  
                <tr>
                    <!-- ligne vide orange -->
                <td id="titrecol" class="orange"></td>
                <td class="orange"></td>
                <td class="orange"></td>
                <td class="orange"></td>
                <td class="orange"></td>
                <td class="orange"></td>
                <td class="orange"></td>
                <td class="orange"></td>
                <td class="orange"></td>
                <td class="orange"></td>
                <td class="orange"></td>
                <td class="orange"></td>
                <td class="orange"></td>
                <td class="orange"></td>
                <td class="orange">1</td>
                <td class="orange"></td>
                <td class="orange"></td>
                <td class="orange"></td>
                <td class="orange"></td>
                <td class="orange"></td>
                <td class="orange"></td>
                </tr>  
                 <!-- Suivi de la bonne gestion de la vie d'un ticket/consignes/procédures -->
                 <td id="titrecol" class="qualite">Suivi de la bonne gestion de la vie d'un ticket/consignes/procédures</td>
                 <td><select name="" id="" ><option value="">0</option><option value="">1</option></select></td>
                 <td><input type="text" name="" id=""></td>
                 <td><input type="text" name="" id=""></td>
                 <td><input type="text" name="" id=""></td>
                 <td><input type="text" name="" id=""></td>
                 <td><input type="text" name="" id=""></td>
                 <td><input type="text" name="" id=""></td>
                 <td><input type="text" name="" id=""></td>
                 <td><input type="text" name="" id=""></td>
                 <td><input type="text" name="" id=""></td>
                 <td><input type="text" name="" id=""></td>
                 <td><input type="text" name="" id=""></td>
                 <td><input type="text" name="" id=""></td>
                 <td><input type="text" name="" id=""></td>
                 <td><input type="text" name="" id=""></td>
                 <td><input type="text" name="" id=""></td>
                 <td><input type="text" name="" id=""></td>
                 <td><input type="text" name="" id=""></td>
                 <td><input type="text" name="" id=""></td>
                 <td><input type="text" name="" id=""></td>
                 </tr> 
                 <tr>
                     <!-- respect SLA du ticket -->
                 <td id="titrecol">Respect SLA du ticket</td>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td>1</td>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>
                 </tr> 
                 <tr>
                     <!-- Suivi consigne spécifique du client -->
                 <td id="titrecol">Suivi consigne spécifique du client</td>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td>1</td>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>
                 </tr> 
                 <tr>
                     <!-- Suivi consigne interne-->
                 <td id="titrecol">Suivi consigne interne</td>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td>1</td>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>
                 </tr>   
                 <tr>
                     <!-- Suivi de procédure -->
                 <td id="titrecol">Suivi de procédure</td>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td>1</td>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>
                 </tr>
                 <tr>
                     <!-- Note -->
                 <td id="titrecol"  class="note">Note</td>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td>1</td>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>
                 </tr>  
                 <tr>
               
                        
   </table>

    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/jquery-1.10.2.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/material/chart/highcharts.js"></script>
    <script src="/material/chart/exporting.js"></script>
    <script src="/js/dossierEtapeApp.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/material-modal.min.js"></script>
    <script src="/js/pikaday.js"></script>
</body>

