<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <h3 align="center">Graphe note mensuelle</h3>
        <div class="Gnote">
           <canvas id="notemoi"></canvas> 
        </div><br><br><br>
        <script>
            var vehicles = ["1","2","3","4","5","6","7","8","9","10","11","12","13","14","15","16","17","18","19","20"];
         
                         //The percentage of vehicles of each type
                         var percentage = [1,4,5,10,12,9,6,8,12,12,1,4,5,10,12,9,6,8,12,12];
         
                         var ctx = document.getElementById("notemoi");
                         var lineChart = new Chart(ctx, {
                         type: 'bar',
                         data: {
                         labels: vehicles,
                         datasets: [{
                         data: percentage,
                         label: "Moyenne qualité",
                         backgroundColor: "#3e95cd",
                         fill: false
                         }]
                         },
                         options: {
                         scales: {
                         yAxes: [{
                                 ticks: {
                                 beginAtZero: true,
                                 min: 0,
                                 max:12,
                                 stepSize:1,
                                 }
                         }],
                         xAxes: [{
                                ticks: {
                                autoSkip: false,
                                maxRotation:0,
                                minRotation:0
                                }
                        }]
                         }
                         }
                         });
        </script>
</body>
</html>