<table border="1" class="tabl">
    <td  id="titrecol" class="titre" rowspan="2">Ticket</td>
    <td class="titre">1</td>
    <td class="titre">2</td>
    <td class="titre">3</td>
    <td class="titre">4</td>
    <td class="titre">5</td>
    <td class="titre">6</td>
    <td class="titre">7</td>
    <td class="titre">8</td>
    <td class="titre">9</td>
    <td class="titre">10</td>
    <td class="titre">11</td>
    <td class="titre">12</td>
    <td class="titre">13</td>
    <td class="titre">14</td>
    <td class="titre">15</td>
    <td class="titre">16</td>
    <td class="titre">17</td>
    <td class="titre">18</td>
    <td class="titre">19</td>
    <td class="titre">20</td>
    </tr>
    <!-- ligne vide -->
    <tr>
   
    <td><input type="text" name="" id=""></td>
    <td><input type="text" name="" id=""></td>
    <td><input type="text" name="" id=""></td>
    <td><input type="text" name="" id=""></td>
    <td><input type="text" name="" id=""></td>
    <td><input type="text" name="" id=""></td>
    <td><input type="text" name="" id=""></td>
    <td><input type="text" name="" id=""></td>
    <td><input type="text" name="" id=""></td>
    <td><input type="text" name="" id=""></td>
    <td><input type="text" name="" id=""></td>
    <td><input type="text" name="" id=""></td>
    <td><input type="text" name="" id=""></td>
    <td><input type="text" name="" id=""></td>
    <td><input type="text" name="" id=""></td>
    <td><input type="text" name="" id=""></td>
    <td><input type="text" name="" id=""></td>
    <td><input type="text" name="" id=""></td>
    <td><input type="text" name="" id=""></td>
    <td><input type="text" name="" id=""></td>
    </tr>
    <tr>
        <!-- ligne vide -->
    <td id="titrecol"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    </tr>
    <tr>
        <!-- Qualité- Description et comprehension du ticket -->
    <td id="titrecol" class="qualite">Qualité- Description et comprehension du ticket</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    </tr> 
    <tr>
        <!-- Qualité- Description et comprehension du ticket -->
    <td id="titrecol">Sollicitation du client bien décrite</td>
    <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><input type="text" name="" id=""></td>
    <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
    <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
    <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
    <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
    <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
    <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
    <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
    <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
    <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
    <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
    <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
    <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
    <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
    <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
    <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
    <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
    <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
    <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
    <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
    </tr> 
    <tr>
        <!-- Questionnement complet/récup infos complementaire -->
    <td id="titrecol">Questionnement complet/récup infos complementaire</td>
    <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
    <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
    <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
    <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
    <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
    <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
    <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
    <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
    <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
    <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
    <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
    <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
    <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
    <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
    <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
    <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
    <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
    <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
    <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
    <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
    </tr> 
    <tr>
        <!-- Hors sujet(Sollicitation du client par mail/front office -->
    <td id="titrecol">Hors sujet(Sollicitation du client par mail/front office)</td>
    <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
    <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
    <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
    <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
    <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
    <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
    <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
    <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
    <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
    <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
    <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
    <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
    <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
    <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
    <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
    <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
    <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
    <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
    <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
    <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
    </tr>   
    <tr>
        <!-- Traitement complet du ticket -->
    <td id="titrecol">Traitement complet du ticket</td>
    <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
    <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
    <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
    <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
    <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
    <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
    <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
    <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
    <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
    <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
    <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
    <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
    <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
    <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
    <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
    <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
    <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
    <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
    <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
    <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
    </tr>
    <tr>
        <!-- Traitement complet du ticket -->
    <td id="titrecol"  class="note">Note</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    </tr>  
    <tr>
        <!-- ligne vide orange -->
    <td id="titrecol" class="orange"></td>
    <td class="orange"></td>
    <td class="orange"></td>
    <td class="orange"></td>
    <td class="orange"></td>
    <td class="orange"></td>
    <td class="orange"></td>
    <td class="orange"></td>
    <td class="orange"></td>
    <td class="orange"></td>
    <td class="orange"></td>
    <td class="orange"></td>
    <td class="orange"></td>
    <td class="orange"></td>
    <td class="orange">1</td>
    <td class="orange"></td>
    <td class="orange"></td>
    <td class="orange"></td>
    <td class="orange"></td>
    <td class="orange"></td>
    <td class="orange"></td>
    </tr>
    <tr>
            <!-- Pertinence des informations -->
        <td id="titrecol" class="qualite">Pertinence des informations</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr> 
        <tr>
            <!-- Outil(s) utilisé(s) bien indiqué(s) -->
        <td id="titrecol">Outil(s) utilisé(s) bien indiqué(s)</td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        </tr> 
        <tr>
            <!-- Pertinence des informations(ATD,clôture,mail envoyé au client) -->
        <td id="titrecol">Pertinence des informations(ATD,clôture,mail envoyé au client)</td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        </tr> 
        <tr>
            <!-- Relecture -->
        <td id="titrecol">Relecture</td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        </tr>   
        <tr>
            <!-- Renseignement correct des informations en cas de recherche personnelle -->
        <td id="titrecol">Renseignement correct des informations en cas de recherche personnelle</td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        </tr>
        <tr>
            <!-- Note -->
        <td id="titrecol"  class="note">Note</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        </tr>  
        <tr>
            <!-- ligne vide orange -->
        <td id="titrecol" class="orange"></td>
        <td class="orange"></td>
        <td class="orange"></td>
        <td class="orange"></td>
        <td class="orange"></td>
        <td class="orange"></td>
        <td class="orange"></td>
        <td class="orange"></td>
        <td class="orange"></td>
        <td class="orange"></td>
        <td class="orange"></td>
        <td class="orange"></td>
        <td class="orange"></td>
        <td class="orange"></td>
        <td class="orange">1</td>
        <td class="orange"></td>
        <td class="orange"></td>
        <td class="orange"></td>
        <td class="orange"></td>
        <td class="orange"></td>
        <td class="orange"></td>
        </tr>  
        <!-- TECHNICITE- Performance technique -->
        <td id="titrecol" class="qualite">TECHNICITE- Performance technique</td>
        <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
        </tr> 
        <tr>
            <!-- Analyse -->
        <td id="titrecol">Analyse</td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        </tr> 
        <tr>
            <!-- Interpretation des analyse/tests faits -->
        <td id="titrecol">Interpretation des analyse/tests faits</td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        </tr> 
        <tr>
            <!-- Recherche personnelle hors jarvis -->
        <td id="titrecol">Recherche personnelle hors jarvis</td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
        </tr>   
        <tr>
            <!-- Note -->
        <td id="titrecol"  class="note">Note</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        </tr>  
        <tr>
            <!-- ligne vide orange -->
        <td id="titrecol" class="orange"></td>
        <td class="orange"></td>
        <td class="orange"></td>
        <td class="orange"></td>
        <td class="orange"></td>
        <td class="orange"></td>
        <td class="orange"></td>
        <td class="orange"></td>
        <td class="orange"></td>
        <td class="orange"></td>
        <td class="orange"></td>
        <td class="orange"></td>
        <td class="orange"></td>
        <td class="orange"></td>
        <td class="orange">1</td>
        <td class="orange"></td>
        <td class="orange"></td>
        <td class="orange"></td>
        <td class="orange"></td>
        <td class="orange"></td>
        <td class="orange"></td>
        </tr>  
         <!-- Suivi de la bonne gestion de la vie d'un ticket/consignes/procédures -->
         <td id="titrecol" class="qualite">Suivi de la bonne gestion de la vie d'un ticket/consignes/procédures</td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         </tr> 
         <tr>
             <!-- respect SLA du ticket -->
         <td id="titrecol">Respect SLA du ticket</td>
         <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
         <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
         <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
         <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
         <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
         <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
         <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
         <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
         <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
         <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
         <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
         <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
         <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
         <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
         <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
         <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
         <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
         <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
         <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
         <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
         </tr> 
         <tr>
             <!-- Suivi consigne spécifique du client -->
         <td id="titrecol">Suivi consigne spécifique du client</td>
         <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
         <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
         <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
         <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
         <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
         <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
         <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
         <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
         <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
         <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
         <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
         <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
         <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
         <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
         <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
         <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
         <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
         <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
         <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
         <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
         </tr> 
         <tr>
             <!-- Suivi consigne interne-->
         <td id="titrecol">Suivi consigne interne</td>
         <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
         <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
         <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
         <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
         <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
         <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
         <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
         <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
         <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
         <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
         <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
         <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
         <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
         <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
         <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
         <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
         <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
         <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
         <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
         <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
         </tr>   
         <tr>
             <!-- Suivi de procédure -->
         <td id="titrecol">Suivi de procédure</td>
         <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
         <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
         <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
         <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
         <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
         <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
         <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
         <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
         <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
         <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
         <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
         <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
         <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
         <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
         <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
         <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
         <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
         <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
         <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
         <td><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><button>com</button></td>
         </tr>
         <tr>
             <!-- Note -->
           <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         </tr>  
         <tr>
       
                
</table>