<table border="1" class="tabl">
    <tr>
    <td  id="titrecol" class="titre" rowspan="2">Ticket</td>
    <% for(var i=1; i<=ticket; i++){
    %>
        <td class="titre"><%= i %></td>
    <%
    }
    %>
    </tr>
    <!-- ligne vide -->
    <tr>
    <% for(var i=1; i<=ticket; i++){
    %>
        <td><input type="text" name="" id=""></td>
    <%
    }
    %>
    </tr>
    <tr>
        <!-- ligne vide -->
    <td id="titrecol"></td>
    <% for(var i=1; i<=ticket; i++){
    %>
        <td></td>
    <%
    }
    %>
    
    </tr>
    <tr>
        <!-- Qualité- Description et comprehension du ticket -->
    <td id="titrecol" class="qualite">Qualité- Description et comprehension du ticket</td>
    <% for(var i=1; i<=ticket; i++){
    %>
        <td></td>
    <%
    }
    %>
    </tr> 
    <tr>
        <!-- Qualité- Description et comprehension du ticketbi bi-chat-left-text -->
    <td id="titrecol">Sollicitation du client bien décrite</td>
    <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
    <td id="chem2"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache1"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
    <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
    <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
    <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
    <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
    <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
    <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
    <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
    <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
    <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
    <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
    <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
    <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
    <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
    <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
    <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
    <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
    <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
    <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
    </tr> 
    <tr>
        <!-- Questionnement complet/récup infos complementaire -->
    <td id="titrecol">Questionnement complet/récup infos complementaire</td>
    <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
    <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
    <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
    <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
    <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
    <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
    <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
    <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
    <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
    <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
    <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
    <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
    <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
    <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
    <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
    <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
    <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
    <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
    <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
    <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
    </tr> 
    <tr>
        <!-- Hors sujet(Sollicitation du client par mail/front office -->
    <td id="titrecol">Hors sujet(Sollicitation du client par mail/front office)</td>
    <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
    <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
    <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
    <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
    <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
    <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
    <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
    <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
    <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
    <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
    <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
    <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
    <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
    <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
    <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
    <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
    <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
    <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
    <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
    <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
    </tr>   
    <tr>
        <!-- Traitement complet du ticket -->
    <td id="titrecol">Traitement complet du ticket</td>
    <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
    <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
    <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
    <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
    <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
    <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
    <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
    <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
    <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
    <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
    <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
    <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
    <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
    <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
    <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
    <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
    <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
    <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
    <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
    <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
    </tr>
    <tr>
        <!-- Traitement complet du ticket -->
    <td id="titrecol"  class="note">Note</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    </tr>  
    <tr>
        <!-- ligne vide orange -->
    <td id="titrecol" class="orange"></td>
    <td class="orange"></td>
    <td class="orange"></td>
    <td class="orange"></td>
    <td class="orange"></td>
    <td class="orange"></td>
    <td class="orange"></td>
    <td class="orange"></td>
    <td class="orange"></td>
    <td class="orange"></td>
    <td class="orange"></td>
    <td class="orange"></td>
    <td class="orange"></td>
    <td class="orange"></td>
    <td class="orange">1</td>
    <td class="orange"></td>
    <td class="orange"></td>
    <td class="orange"></td>
    <td class="orange"></td>
    <td class="orange"></td>
    <td class="orange"></td>
    </tr>
    <tr>
            <!-- Pertinence des informations -->
        <td id="titrecol" class="qualite">Pertinence des informations</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr> 
        <tr>
            <!-- Outil(s) utilisé(s) bien indiqué(s) -->
        <td id="titrecol">Outil(s) utilisé(s) bien indiqué(s)</td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        </tr> 
        <tr>
            <!-- Pertinence des informations(ATD,clôture,mail envoyé au client) -->
        <td id="titrecol">Pertinence des informations(ATD,clôture,mail envoyé au client)</td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        </tr> 
        <tr>
            <!-- Relecture -->
        <td id="titrecol">Relecture</td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        </tr>   
        <tr>
            <!-- Renseignement correct des informations en cas de recherche personnelle -->
        <td id="titrecol">Renseignement correct des informations en cas de recherche personnelle</td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        </tr>
        <tr>
            <!-- Note -->
        <td id="titrecol"  class="note">Note</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        </tr>  
        <tr>
            <!-- ligne vide orange -->
        <td id="titrecol" class="orange"></td>
        <td class="orange"></td>
        <td class="orange"></td>
        <td class="orange"></td>
        <td class="orange"></td>
        <td class="orange"></td>
        <td class="orange"></td>
        <td class="orange"></td>
        <td class="orange"></td>
        <td class="orange"></td>
        <td class="orange"></td>
        <td class="orange"></td>
        <td class="orange"></td>
        <td class="orange"></td>
        <td class="orange">1</td>
        <td class="orange"></td>
        <td class="orange"></td>
        <td class="orange"></td>
        <td class="orange"></td>
        <td class="orange"></td>
        <td class="orange"></td>
        </tr>  
        <!-- TECHNICITE- Performance technique -->
        <td id="titrecol" class="qualite">TECHNICITE- Performance technique</td>
        <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
        </tr> 
        <tr>
            <!-- Analyse -->
        <td id="titrecol">Analyse</td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        </tr> 
        <tr>
            <!-- Interpretation des analyse/tests faits -->
        <td id="titrecol">Interpretation des analyse/tests faits</td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        </tr> 
        <tr>
            <!-- Recherche personnelle hors jarvis -->
        <td id="titrecol">Recherche personnelle hors jarvis</td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
        </tr>   
        <tr>
            <!-- Note -->
        <td id="titrecol"  class="note">Note</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        </tr>  
        <tr>
            <!-- ligne vide orange -->
        <td id="titrecol" class="orange"></td>
        <td class="orange"></td>
        <td class="orange"></td>
        <td class="orange"></td>
        <td class="orange"></td>
        <td class="orange"></td>
        <td class="orange"></td>
        <td class="orange"></td>
        <td class="orange"></td>
        <td class="orange"></td>
        <td class="orange"></td>
        <td class="orange"></td>
        <td class="orange"></td>
        <td class="orange"></td>
        <td class="orange">1</td>
        <td class="orange"></td>
        <td class="orange"></td>
        <td class="orange"></td>
        <td class="orange"></td>
        <td class="orange"></td>
        <td class="orange"></td>
        </tr>  
         <!-- Suivi de la bonne gestion de la vie d'un ticket/consignes/procédures -->
         <td id="titrecol" class="qualite">Suivi de la bonne gestion de la vie d'un ticket/consignes/procédures</td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         </tr> 
         <tr>
             <!-- respect SLA du ticket -->
         <td id="titrecol">Respect SLA du ticket</td>
         <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
         <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
         <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
         <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
         <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
         <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
         <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
         <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
         <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
         <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
         <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
         <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
         <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
         <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
         <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
         <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
         <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
         <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
         <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
         <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
         </tr> 
         <tr>
             <!-- Suivi consigne spécifique du client -->
         <td id="titrecol">Suivi consigne spécifique du client</td>
         <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
         <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
         <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
         <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
         <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
         <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
         <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
         <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
         <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
         <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
         <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
         <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
         <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
         <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
         <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
         <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
         <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
         <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
         <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
         <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
         </tr> 
         <tr>
             <!-- Suivi consigne interne-->
         <td id="titrecol">Suivi consigne interne</td>
         <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
         <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
         <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
         <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
         <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
         <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
         <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
         <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
         <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
         <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
         <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
         <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
         <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
         <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
         <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
         <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
         <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
         <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
         <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
         <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
         </tr>   
         <tr>
             <!-- Suivi de procédure -->
         <td id="titrecol">Suivi de procédure</td>
         <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
         <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
         <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
         <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
         <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
         <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
         <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
         <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
         <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
         <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
         <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
         <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
         <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
         <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
         <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
         <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
         <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
         <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
         <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
         <td id="chem"><select name="" id=""><option value=""></option><option value="">0</option><option value="">1</option></select><boutton class="icobout"><i id="tache"class="glyphicon glyphicon-pencil" style="color:#257ac0"></i></button></td>
         </tr>
         <tr>
             <!-- Note -->
           <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         </tr>  
         <tr>
</table>

